/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: transparent;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px; /* Adjust spacing */
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* Introduction Section */
.intro {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.intro_container {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.intro_container img {
    width: 300px; 
    border-radius: 10px;
}

.intro_desc {
    max-width: 500px; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073b1; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

/* Education */
.education {
    text-align: center;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    margin: auto;
}

.left{
    display: flex;
    align-items: left;
    margin-bottom: 20px;;
}

.right{
    display: flex;
    align-items: right;
    margin-bottom: 20px;
}

/* Timeline */
.timeline-container{
    max-width: 800px;
    margin: 0 auto;
    border-left: 4px solid #222;
    padding-left: 25px;
}

.timeline-container .event{
    padding: 32px;
    margin: 48px 0;
    line-height: 2;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.timeline-container .event-school{
    display: flex;
    flex-direction: column;
}

.timeline-container .event-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.timeline-container .event::before{
    content: '';
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    position: absolute;
    left: -36px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
}

.timeline-container .event .event-date{
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}


/* Experience */
/* .experience {
    text-align: center;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    margin: auto;
}

.card-list{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;;
}

.card-list .card-item .card-link:hover{
    border-color: #5372f0;
}

.card-list .card-link .badge{
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.wrapper{
    max-width:  1100px;
    width: 100px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) - 20px);
    gap: 16px;
    overflow: hidden;
} */

/* experience -- youtube */
.carousel .card{
    height: 342px;
    list-style:  none;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.card-link{
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

.card-link:hover{
    border-color: #5372f0;
}

.badge{
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}

.card-title{
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i{
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

.wrapper i:first-child{
    left: -22px;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.card-image{
    height: 140px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}


/* Media Query */
@media (max-width: 700px){
    .timeline-container{
        max-width: 100%;
        margin-left: 8px;
    }

    .timeline-container .event .event-date{
        position: static;
        margin-bottom: -20px;
    }

    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}

@media (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}